.order {
  margin-top: 6.25rem;
  .boxOpen {
    background-color: var(--red);
    padding: 1.125rem 1.375rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .status {
      position: absolute;
      top: 1rem;
      left: -2.5rem;
      background-color: rgba(#fff, 0.69);
      transform: rotate(-45deg);
      color: var(--brown);
      font-weight: 700;
      padding: .5rem 3rem;
      text-transform: uppercase;
      font-size: .875rem;
      font-family: 'Lilita One', cursive;
      font-weight: 400;
    }
    .icon {
      width: 94px;
      height: 94px;
      background: rgba(29, 6, 5, 0.2);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      border-left: 1px solid rgba(29, 6, 5, 0.4);
      flex: 1;
      padding-left: 1rem;
      h3 {
        font-size: 1.5625rem;
        line-height: 1.75rem;
        text-transform: uppercase;
        color: rgba(29, 6, 5, 0.69);
        margin-bottom: .375rem;
      }
      p {
        font-weight: 700;
        color: rgba(#fff, 0.85);
        max-width: 460px;
        width: 100%;
      }
    }
    .btn {
      background: var(--beige);
      border-radius: .375rem;
      padding: .625rem 1.25rem;
      color: var(--red);
      font-weight: 900;
      font-size: 1.125rem;
      line-height: 1.375rem;
      transition: all ease .3s;
      display: inline-block;
      text-transform: uppercase;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
  @media (max-width: 980px) {
    .boxOpen {
      flex-direction: column;
      row-gap: 1rem;
      .text {
        border: 0;
        border-top: 1px solid rgba(29, 6, 5, 0.4);
        padding: 0;
        padding-top: 1rem;
        text-align: center;
      }
    }
  }
}