.specialoffers {
  padding: 4rem 0;
  h2 {
    font-size: 2rem;
    line-height: 2.1875rem;
    text-transform: uppercase;
  }
  .boxes {
    display: grid;
    grid-template-columns: 1fr 370px;
    gap: 1.875rem;
    margin-top: 1rem;
    .box {
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      img {
        transition: all ease .3s;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &:hover img {
        transform: scale(1.1);
      }
      .text {
        position: absolute;
        inset: 0;
        padding: .75rem 1rem;
        display: flex;
        flex-direction: column;
        z-index: 2;
        h3 {
          font-size: 1.25rem;
          line-height: 1.375rem;
          text-transform: uppercase;
          color: rgba(#3B200B, 0.9);
        }
        span {
          font-size: 1.125rem;
          line-height: 1.5625rem;
          color: rgba(#3B200B, 0.69);
        }
      }
      &:first-child {
        grid-row: 1 / 3;
        .text {
          h3 {
            font-size: 1.5625rem;
            line-height: 1.75rem;
            color: rgba(#fff, 0.9);
          }
          span {
            color: rgba(#fff, 0.69);
          }
          p {
            font-size: 1.4375rem;
            line-height: 1.5625rem;
            color: rgba(#fff, 0.69);
            margin: auto 0 0 auto;
            strong {
              font-family: 'Lilita One', cursive;
              font-weight: 400;
              font-size: 2.625rem;
              line-height: 1.75rem;
              text-transform: uppercase;
              color: rgba(#fff, 0.9);
              display: block;
              margin: .375rem .5rem .75rem 0;
            }
          }
        }
      }
    }
  }
  @media (max-width: 980px) {
    .boxes {
      grid-template-columns: 1fr;
    }
  }
}