.delivery {
  padding-top: 4rem;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.875rem;
    .boxImg {
      flex: 1;
    }
    .boxDelivery {
      flex: 1;
      h2 {
        font-size: 2rem;
        line-height: 2.1875rem;
        text-transform: uppercase;
        color: rgba(29, 6, 5, 0.9);
        margin-bottom: .625rem;
      }
      ul {
        li {
          background: #FFFFFF;
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding: .9375rem 1.375rem;
          transition: all ease .3s;
          & + li {
            margin-top: .5rem;
          }
          &:hover {
            box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
          }
          .icon {
            background-color: var(--beige);
            width: 3.75rem;
            height: 3.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 1.125rem;
            img {
              width: 30px;
              height: auto;
            }
          }
          .text {
            flex: 1;
            border-left: 1px solid rgba(29, 6, 5, 0.4);
            padding-left: 1.125rem;
            h3 {
              font-size: 1.25rem;
              line-height: 1.375rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  @media (max-width: 980px) {
    hr {
      border: 1px solid rgba(29, 6, 5, 0.15);
      margin: 4rem 0;
    }
    .box {
      flex-direction: column;
      row-gap: 2.5rem;
    }
  }
}