html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	@media (max-width: 1440px) {
		font-size: 93.75%;
	}
	@media (max-width: 768px) {
		font-size: 87.5%;
	}
	--white: #FFFFFF;
	--red: #F43127;
	--yellow: #F59A1B;
	--beige: #FAE2CB;
	--brown: #3B200B;
	--title-black-87: #34201F;
	--title-black-60: #635352;
	--text: rgba(29, 6, 5, 0.69);

	--animate-duration: 0.5s;
}


html {
	//overflow-y: overlay;
	height: 100%;
	scroll-behavior: smooth;
	&.menu-active {
		overflow: hidden;
	}
}

body {
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
	color: var(--text);
	background-color: #FAF3F2;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
	max-width: 100%;
}

strong {
	font-weight: 600;
}

input, textarea, button, select {
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
  font-weight: 400;
  color: var(--title-black-87)
}

.container {
	width: 100%;
	max-width: calc(1170px + 48px);
	padding: 0 24px;
	margin: 0 auto;
}

::-webkit-scrollbar {width: 8px;height: 8px;}
::-webkit-scrollbar-button {width: 0px;height: 0px;}
::-webkit-scrollbar-thumb {background: var(--brown);border: 0px none var(--brown);border-radius: 50px;}
::-webkit-scrollbar-thumb:hover {background: var(--brown);}
::-webkit-scrollbar-thumb:active {background: var(--brown);}
::-webkit-scrollbar-track {background: #e1e1e1;border: 0px none #e1e1e1;}
::-webkit-scrollbar-track:hover {background: #e1e1e1;}
::-webkit-scrollbar-track:active {background: #e1e1e1;}
::-webkit-scrollbar-corner {background: transparent;}